@import "tailwindcss";

:root {
  --primary: #2c3e50;
  --border-logo: rgba(255, 255, 255, 0.1);
   --light: #ecf0f1;
}


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
/* body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

.admin-layout {
  @apply  flex flex-col lg:flex-row min-h-screen bg-white ;
  .children {
    @apply w-full h-full bg-white pt-12 lg:pt-10;
  }
}

.active{
   @apply border-blue-400 border-l-4   bg-[var(--border-logo)]
   
}
.de-active{
    @apply hover:bg-[var(--border-logo)] transition-all duration-200 hover:border-l-4 
                hover:border-blue-400
}